<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../html-resources/style.css">
    <title>Calendar</title>
</head>
<body>
<div class="top">
    <div>
        <div class="scrollbar"></div>
        <div class="header"><img src="../../html-resources/banner/current.png"></div>
        <div class="spacer"></div>
    </div>
    <div class="footer"><div>/vrg/ Calendar - rentry.co/vrgeventcalendar  <span class="right">UTC$timezone</span> <br/>
        Developed by Asylum, ComfyPillow, Mona, and Sleepy
        <span class="right">Generated $now</span></div></div>
</div>
<div class="bottom">
    <div class="scrollbar"></div>