# Large files/Transient files
html-resources/fonts/Noto_Sans_JP/**.otf
calendar.ical
html-resources/banner/current.png

# Secrets
gdrive/**.json

# Temporary files (system)
TEMP_FIREFOX/**
__pycache__/**
gdrive/__pycache__/**

# Temporary files (processing)
output/**
# Pycharm 
# User-specific stuff
.idea/**