@font-face {
  font-family: 'Noto Sans JP';
  src: url(fonts/Noto_Sans_JP/NotoSansJP-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url(fonts/Noto_Sans_JP/NotoSansJP-Bold.otf);
  font-weight: bold;
}
body {
  background-color: #CAEAE9;
  font-family: 'Noto Sans JP', serif, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /*width: calc(100vw - 11px - 11px - 7px);*/
}
table {
  border-collapse: collapse;
  width: calc(100% - 11px - 7px - 24px);
}
tr td {
  background-color: #FFF2DB;
  font-size: 80%;
}
.scrollbar {
  width: 24px;
  background-color: #8ED0CF;
  float: right;
  height: 100%;
  margin: 0x 11px 0px 7px;
}

.top {
  height: 497px;
  margin: 5px 11px 7px 11px; 
}

.top > .scrollbar {
  height: calc(100% - 31px)
}

.header {
  height: 229px;
  background-color: white;
  width: calc(100% - 7px - 24px - 11px);
}
.header > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.spacer {
  height: 229px;
  margin: 8px 7px 7px 0;
  background-color: #FFF2DB;
  width: calc(100% - 7px - 24px - 11px);
}
.footer {
  background-color: #8ED0CF;
  border: 1px #5FA1A1 solid;
  height: 30px;
  font-size: 8pt;
  width: calc(100% - 2px);
}
.bottom {
  height: 100%;
  width: calc(100% - 11px - 11px);
  padding-top: 7px;
  margin: 7px 11px 7px 11px;
}

.date {
  background-color: #196867;
  font-weight: normal;
  text-align: center;
  color: #FBFBF4;  
  font-size: 110%;
  padding: 0.2em 0 0.2em 0;
}
.starttime{
  background: #3B888A;
  color: #FBFBF4;
  display: block;
  text-align: center;
  width: 6.5em;
  /*margin-top: 3px;
  margin-bottom: 3px;*/
}
.endtime {
  font-size: 80%
}
.summary{
  padding-left: .5em;
  width: 100%;
}
.allday {
  /*
  background-color: #879D9C;
  padding: 2px 0 2px 0;
  border: 1px solid #879D9C;
  border-radius: 2px;
  color: #FBFBF4;
  display: inline-block;
  width: calc(100% - 2px);
  text-align: center;
  */
  /* width: calc(100% - 6em - 2px); */
  font-weight: bold;
}
